.Mishra{
    margin-left: 20%;
    background-color: black;
    padding-bottom: 14.9%;
    padding-left: 5%;
    color: white;  
} 
header{
    color: white;
}
header h1{
    text-align: center;
}
section{
    margin-left: 10%;
    padding-bottom: -15%;
}
button{
    margin-right: 8%;
    padding: 20px 60px;
    background-color: transparent; 
    border: none;
    border-radius: 5px;   
    background: white;
    font-size: larger;
    transition-duration: 0.4ms
}
button a{
    text-decoration: none;
    color: black;
}
body{
    margin: 0%;
    padding: 0%;
    background-color: #080808;
    background-size: cover;
    
}
button:hover{
    background-color: grey;
}
.Rahul{
    margin-right: 80%;
    padding-top: 1%;
    padding-bottom: 2%;
    padding-left: 2%;
    margin-top: -33.86%;
    background-color: white; 
}
.Rahul section{
    margin: 7%;
    
}
img{
    width: 158px;
} 